<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Custom URL Shortener</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item px-2" *ngIf="!authService.isLoggedIn">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item px-2" *ngIf="!authService.isLoggedIn">
          <a class="nav-link" routerLink="register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item px-2" *ngIf="authService.isLoggedIn">
          <a class="nav-link" routerLink="my-account" routerLinkActive="active">My Account</a>
        </li>
        <li class="nav-item px-2" *ngIf="authService.isLoggedIn">
          <a class="nav-link" routerLink="generate-url" routerLinkActive="active">Generate URL</a>
        </li>
        <li class="nav-item px-2" *ngIf="authService.isLoggedIn">
          <a class="nav-link" routerLink="" (click)="authService.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
