<div class="text-center" id="main">
  <h5 class="text-center">URL Storage</h5>

  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item p-1">
        <a href="#" class="text-dark"><i class="fab fa-facebook"></i></a>
      </li>
      <li class="list-inline-item p-1">
        <a href="#" class="text-dark"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="list-inline-item p-1">
        <a href="#" class="text-dark"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li class="list-inline-item p-1">
        <a href="#" class="text-dark"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="list-inline-item p-1">
        <a href="#" class="text-dark"><i class="fab fa-pinterest"></i></a>
      </li>
    </ul>
  </div>
</div>
