<div class="container bg-light py-5">
    <div class="row">
        <h3 class="fw-bold ml-5">URL Storage</h3>
     </div>
     <hr>
     <div class="row fw-bold">
         <div class="col-12 col-md-8">
         <a class="text-decoration-none text-dark p-3" href="#">Home</a>
         <a class="text-decoration-none text-dark p-3" href="#"> About</a>
         <a class="text-decoration-none text-dark p-3" href="#"> Contact</a>
         </div>
         <div class="col-12 col-md-4 ms-auto">
           <a href="#"><i class="fab fa-github p-3 text-dark"></i></a>
           <a href="#"><i class="fab fa-facebook-f p-3 text-primary"></i></a>
           <a href="#"><i class="fab fa-linkedin-in p-3 text-primary"></i></a>
           <a href="#"><i class="fab fa-twitter p-3 text-info"></i></a>
           <a href="#"><i class="fab fa-youtube p-3 text-danger"></i></a>
           <a href="#"><i class="fab fa-instagram p-3 text-secondary"></i></a>
         </div>
     </div>
</div>
