<div class="row m-3 p-1">
    <div class="col-xl-3 col-md-2 col-sm-1"> </div>
    <form class="col-xl-6 col-md-8 col-sm-10">
        <h2>  Copy - paste url into the first box</h2>
        <div class="form-group ">
            <label for="longurl" class="mt-3 fw-bold ">Enter Long url</label>
            
            <input type="text"  autocomplete="off" class="form-control py-2 rounded-3 mt-2 "  id="longurl" aria-describedby="emailHelp" placeholder="Paste the url here">
        </div>
        <div class="form-group ">
            <label for="shorturl" class="mt-3 fw-bold ">Short url generated</label>
            <input type="text"  autocomplete="off" class="form-control py-2 rounded-3 mt-2 "  id="shorturl" placeholder="shorturl">
        </div>
        <div class="form-group ">
            <label for="ctag" class="mt-3 fw-bold ">Add or Create a tag for the above link</label>
            <input type="text" autocomplete="off" class="form-control py-2 rounded-3 mt-2 "  id="ctag" placeholder="enter a tag like ide / material " (input)="WillbeAdded()">
        </div>
        <br>
        <p class="fw-bold "> The short link will be added to your list with the tag : </p>
        <p id="ctagadd">temp</p> 
        <!-- <p>{{}}</p> -->
        <button type="button" class="btn btn-primary mt-3 w-100">Add link to collection</button>
    </form>
    <div class="col-xl-3 col-md-2 col-sm-1"> </div>
</div>