<div class="mt-2">
    <button class="btn btn-primary m-4 btn-lg ps-5 pe-5 shadow">Add</button>
    <h5 class="ms-4 mt-2">Collection of all your saved urls</h5>
    <!--List of links-->
    <div class="row mt-5 ms-2 me-5 w-100">
            <div class="col-6"><h6><a href="#">customurlgenerator/firstlink</a></h6></div>
            <div class="col-1">
                <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg></a>
            </div>
            <div class="col-1">
                <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg></a>
            </div>
            <div class="col-1">
                <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg></a>
            </div>
    </div>     
    <div class="row ms-2 me-5 w-100">
        <div class="col-6"><h6><a href="#">customurlgenerator/secondlink</a></h6></div>
        <div class="col-1">
            <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg></a>
        </div>
        <div class="col-1">
            <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg></a>
        </div>
        <div class="col-1">
            <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg></a>
        </div>
    </div>
    <div class="row ms-2 me-5 w-100">
        <div class="col-6"><h6><a href="#">customurlgenerator/thirdlink</a></h6></div>
        <div class="col-1">
            <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg></a>
        </div>
        <div class="col-1">
            <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg></a>
        </div>
        <div class="col-1">
            <a href="#" class="text-dark"><svg class="" fill="none" stroke="currentColor" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg></a>
        </div>
    </div>
   
</div>


