/* You can add global styles to this file, and also import other style files */

/* font family */
$font-family: Arial, Helvetica, sans-serif;

/* color */
$primary-color: #505F98;

/* font size */
$font-size-normal: 18px;

/* font weight */
$font-weight-normal:          400 !default;
$font-weight-bold:            500 !default;