.designer{
    position: absolute;
    left: 13%;
    right: 0%;
    top: 8%;
    bottom: 38%;
    opacity: 0.8;
    height: 850px;
    width: 1050px;
    left: 430px;
    top: 100px;
    border-radius: 0px;
    z-index: 1;
    }
    .text1
    {
    z-index: 2;
    position: absolute;
    height: 132px;
    left: 9%;
    right: 0.37px;
    top: 40%;
    width :406px;
    height :132px;
    
    }
    
    .heading{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800!important;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
    letter-spacing: 1px;
    line-height:1.3em;
    ///Paragraph spacing: 12px
    }
    .para{
        padding-top: 5px;
    width :480px;
    height:177px;
    top:182px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    }
    .url
    { 
    position: absolute;
    left: 14%;
    right: 53%;
    top: 1100px;
    bottom: 17%;
    width: 600px;
    }
    .text2
    {
    z-index: 2;
    position: absolute;
    height: 132px;
    left: 60%;
    right: 0.37px;
    top: 1150px;
    width :406px;
    height :132px;
    }
    .heading1{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 800!important;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 1px;
        color: #091133;
        letter-spacing: 1px;
        line-height:1.3em;
        ///Paragraph spacing: 12px
        }
        .para1{
        padding-top: 5px;
        width :500px;
        height:177px;
        top:182px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        }
        .para2{
            width :500px;
            height:177px;
            top:182px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 36px;
     }
    
       