<div class="container-fluid mt-5 mt-xs-1">
  <div class="row">
    <div class="col-xs-8 col-12 col-md-4">
      <div class="overlay-text px-3 py-5 px-xs-1 py-xs-1">
        <h3 class="heading">Store your important urls in a smart way</h3>
        <p class="para">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
          voluptas totam quibusdam nihil! Odio distinctio cum in magni enim
          facere quaerat minus itaque! Ullam enim obcaecati similique laboriosam
          tempore beatae.
        </p>
      </div>
    </div>
    <div class="col-md-8" style="overflow-x: hidden">
      <img
        class="float-right"
        src="../../../../assets/designer.png"
        alt="selecting"
      />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6 mt-5">
      <img
        class="letter center"
        src="../../../../assets/url.png"
        alt="new url"
        style="width: 80%"
      />
    </div>
    <div
      class="col-12 col-md-6 mt-md-5 my-2 align-self-center"
      style="
        align-content: center !important;
        justify-content: center !important;
      "
    >
      <h3 class="heading1 text-center">Light , Fast & Powerful</h3>
      <p class="para1 pt-3 mx-auto d-block">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
        voluptas totam quibusdam nihil! Odio distinctio cum in magni enim facere
        quaerat minus itaque! Ullam enim obcaecati similique laboriosam tempore
        beatae.
      </p>
    </div>
  </div>
</div>
