<p>home works!</p>
<div>
<div class="text1">
    <h3 class="heading">Store your important urls in a smart way</h3>
    <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur voluptas totam quibusdam nihil! Odio distinctio cum in magni enim facere quaerat minus itaque! Ullam enim obcaecati similique laboriosam tempore beatae.</p>
</div>

<img class="designer" alt="Step Three Image" src="assets/designer.png" >
  
  <div>
    <img class="url" alt="Step Three Image" src="assets/url.png" >  
    <div class="text2">
      <h3 class="heading1">Light, Fast & Powerful</h3>
      <p class="para1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur voluptas totam quibusdam nihil! Odio distinctio cum in magni enim facere quaerat minus itaque!.<br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur voluptas totam quibusdam nihil! </p>
    
    </div>
  </div>
</div> 