.heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  letter-spacing: 1px;
  line-height: 1.3em;
  width: 7em;
}
.para {
  padding-top: 5px;
  width: 480px;
  height: 177px;
  top: 182px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
}
.heading1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #091133;
  letter-spacing: 1px;
  line-height: 1.3em;
}
.para1 {
  padding-top: 5px;
  width: 500px;
  height: 177px;
  top: 182px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
}
body {
  background: url("../../../../assets/designer.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.maintxt {
  position: relative;
  right: 0%;
  left: 40%;
  // overflow: hidden;
}
.maintxt > img {
  position: absolute;
  width: 1000px;
  margin-top: 10%;
  max-width: max-content;
}
.overlay-text {
  position: absolute;
  left: 10%;
  top: 40%;
  z-index: 1;
}
.letter {
  float: right !important;
}
@font-face {
  font-family: Roboto;
  src: url(../../../../assets/fonts/Roboto-Medium.ttf);
}
@media screen and (max-width: 760px) {
  .float-right {
    opacity: 0.3;
  }
}
